/* Nav */
nav {
  padding: var(--spacing-4);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 76px;
}

.logo-text {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-primary);
}

.nav-menu {
  display: flex;
  gap: 1rem;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;

  position: fixed;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

.nav-item:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(6px);
}

.menu-toggle {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;

  border: none;
  border-radius: 6px;

  visibility: hidden;
  background-color: var(--color-primary);
  color: var(--color-gray-100);
}

.menu-toggle:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
/* Nav End */

footer {
  margin-top: var(--spacing-4);
  padding: var(--spacing-4);
  background-color: var(--color-primary);
}

footer h3,
footer p {
  color: var(--color-white);
}
