.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.8rem 1.25rem;

  border-radius: var(--radius-md);
  border: none;
  box-shadow: var(--shadow-sm);

  font-weight: 600;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn:hover {
  transform: translateY(-2px);
}
